* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .clock , .date{
    color: rgb(1, 1, 1); 
    font-size: 18px; 
    letter-spacing: 1px;  
    
    justify-content: center; 
    align-items: center;  
   
  }



 